<%-include('./partials/header')%>                    
    <main class="container text-center py-5 my-5">
        <div class="alert alert-success" role="alert">
            Olá <%= nome %>, sua mensagem foi recebida com sucesso e será respondida no email: <%= email %>
        </div>
        <a href="/" class="btn btn-default">Voltar</a>
        </main>
<%- include('./partials/footer') %> 