<%-include('./partials/header')%>                    
    <main class="container text-center py-5 my-5">
        <div class="alert alert-success" role="alert">
            Olá, você foi inscrito na nossa newsletter com o email: <%=email%>!
        </div>
        <a href="/" class="btn btn-default"> Voltar </a>
        </main>
<%- include('./partials/footer') %> 